@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Orienta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital@0;1&display=swap');

@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/popular.css");
@import url("sections/trending.css");
@import url("sections/subscribe.css");
@import url("sections/footer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --buttonsize: 300px;
} /* use var(--buttonsize); */

html, body {
    -webkit-font-smoothing: antialiased; /* for smooth font rendering webkit browsers */
    -moz-osx-font-smoothing: grayscale; /* for smooth font rendering for mac */
    overscroll-behavior: none; /* avoids bounce at end of screen */
}

.home { 
background-color: #ececec;
color: #2a2a2a;

height: 100vh; /* for full viewport height */
width: 100%;
display: flex; /* Use flexbox for centering */
flex-direction: column;
justify-content: left; 
align-items: left; 
text-align: left; 

margin-top: 55px;
padding: 200px 60px;
}

.h1 {
display: flex;
flex-wrap: wrap; /* Allows items to wrap onto the next line */
margin-top: 10px;
margin-right: 300px;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background-color: #ececec;

  position: fixed;
  top: 0px;

  -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.navbar a {
    margin-right: 50px;
    margin-left: 50px;
    color:#2a2a2a;

}

.home-description {
    margin-bottom: 20px;
    flex-wrap: wrap;
    margin-right: 300px;
}

.parent {
    perspective: 1000px; /* 3d perspective */
    transform-style: preserve-3d; /* preserve 3D space */
    display: flex; 
    flex-direction: left;
    align-items: center;

    justify-content: left; 
    align-items: left; 
    text-align: left; 
    margin-left: 240px;
    margin-top: 20px;
}

.child {
    border-radius: 10px; /* rounder button shape */
    padding: 10px 20px; /* button size */
    background-color: #212121;
    color:#ede8dd;
    /* transition: transform 0.3s ease-in-out; /* Smooth transition */
    border: none;

}

.color2 {
    color: #6eb042; 
}

/* font types */ 

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /* animations */ 

.shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -moz-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -o-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -ms-animation:shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    transition: transform 0.3s ease-in-out; 
}



/* add for -moz-transform:
        -o-transform:
        -ms-transform: */

 @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-transform: translateZ(0);
        -o-transform: translateZ(0);
        -ms-transform: translateZ(0);

      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(var(--buttonsize));
        transform: translateZ(var(--buttonsize));
        -moz-transform: translateZ(var(--buttonsize));
        -o-transform: translateZ(var(--buttonsize));
        -ms-transform: translateZ(var(--buttonsize));

      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -o-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -ms-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }

  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-transform:  translateZ(0);
        -o-transform:  translateZ(0);
        -ms-transform:  translateZ(0);

      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
      -webkit-transform: translateZ(var(--buttonsize));
        transform: translateZ(var(--buttonsize));
        -moz-transform: translateZ(var(--buttonsize));
        -o-transform: translateZ(var(--buttonsize));
        -ms-transform: translateZ(var(--buttonsize));

      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -o-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -ms-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }

  }

 /* live tracker giraffe animation stuff below */
 #live-tracker {
  display: flex;
  justify-content: flex-end;  /* Align the animation to the right side of the page */
  align-items: center;  /* Center the animation vertically */
  height: 100%;  /* Make sure it takes the full height of the container */
  width: 100%;  /* Ensure the full width is used for positioning */
  padding-right: 5%;  /* Add some right padding to keep the animation not too close to the edge */
}

/* styles for the animated image */
#giraffeAnimation {
  max-width: 50%;  /* Set the image to 50% of the container's width */
  height: auto;  /* Maintain aspect ratio */
}
