@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Orienta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital@0;1&display=swap');

@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/popular.css");
@import url("sections/trending.css");
@import url("sections/subscribe.css");
@import url("sections/footer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --buttonsize: 300px;
} /* use var(--buttonsize); */

html, body {
    -webkit-font-smoothing: antialiased; /* for smooth font rendering webkit browsers */
    -moz-osx-font-smoothing: grayscale; /* for smooth font rendering for mac */
    overscroll-behavior: none; /* avoids bounce at end of screen */
}

.home { 
background-color: #ececec;
color: #2a2a2a;

height: 100vh; /* for full viewport height */
display: flex; /* Use flexbox for centering */
flex-direction: column;
justify-content: center; 
align-items: center; 
text-align: center; 

padding: 80px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #333;
  color: white;
}

.description {
    margin-bottom: 30px;
}

.parent {
    perspective: 1000px; /* Set perspective for 3D effects */
    transform-style: preserve-3d; /* Preserve 3D space */
    display: flex; /* Use flexbox for centering */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child {
    border-radius: 20px; /* Rounder button shape */
    padding: 10px 20px; /* Button size */
    background-color: #212121;
    color:#ede8dd;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
    border: none;
}

.color2 {
    color: #6eb042;
}

/* font types */ 

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /* animations */ 

.shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -moz-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -o-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -ms-animation:shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    transition: transform 0.3s ease-in-out; 
}



/* add for -moz-transform:
        -o-transform:
        -ms-transform: */

 @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-transform: translateZ(0);
        -o-transform: translateZ(0);
        -ms-transform: translateZ(0);

      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(var(--buttonsize));
        transform: translateZ(var(--buttonsize));
        -moz-transform: translateZ(var(--buttonsize));
        -o-transform: translateZ(var(--buttonsize));
        -ms-transform: translateZ(var(--buttonsize));

      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -o-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -ms-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }

  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-transform:  translateZ(0);
        -o-transform:  translateZ(0);
        -ms-transform:  translateZ(0);

      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
      -webkit-transform: translateZ(var(--buttonsize));
        transform: translateZ(var(--buttonsize));
        -moz-transform: translateZ(var(--buttonsize));
        -o-transform: translateZ(var(--buttonsize));
        -ms-transform: translateZ(var(--buttonsize));

      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -o-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -ms-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  
}