@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Orienta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital@0;1&display=swap');

@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/popular.css");
@import url("sections/trending.css");
@import url("sections/subscribe.css");
@import url("sections/footer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

:root {
    --buttonsize: 300px;
} /* use var(--buttonsize); */

html, body {
    -webkit-font-smoothing: antialiased; /* for smooth font rendering webkit browsers */
    -moz-osx-font-smoothing: grayscale; /* for smooth font rendering for mac */
    overscroll-behavior: none; /* avoids bounce at end of screen */
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #ececec;
}

.home { 
color: #2a2a2a;

min-height: 100vh; /* for full viewport height */
width: 100%;
display: flex; /* Use flexbox for centering */
flex-direction: column;
justify-content: left; 
align-items: left; 
text-align: left; 

margin-top: 55px;
padding: 200px 80px;
}

.body {
    height: 100vh; /* for full viewport height */
width: 100%;
background-color: #ececec;
}

#noneall a{
    text-decoration:none;
}

#thisLink{ /*  id="thisLink" to get rid of underscore */
    text-decoration: none;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #ececec;
  z-index: 2;

  position: fixed;
  top: 0px;

  -webkit-filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.2));
  filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.2));
  -moz-filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.2));
  -o-filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.2));
  -ms-filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.2));
}

.navbar a {
    margin-right: 50px;
    margin-left: 50px;
    color:#2a2a2a;

}

.h1 {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */

    margin-top: 10px;
    margin-right: 400px; }

.home-description {
    display: flex; 
    flex-wrap: wrap;

    margin-bottom: 20px;
    margin-right: 700px; }
    
/* .parent {
    perspective: 1000px; 
    transform-style: preserve-3d; 
    }

.child {
    display: flex;
    flex-wrap: wrap;

    border-radius: 10%;
    padding: 10px 20px; 

    background-color: #212121;
    color:#ede8dd;
    /* transition: transform 0.3s ease-in-out; 
    border: none;


    margin-left: 240px;
    margin-top: 20px;

  }  */
    

.color2 {
    color: #6eb042; 
}

/* font types */ 

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /* animations */ 

.shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -moz-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -o-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -ms-animation:shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



/* add for -moz-transform:
        -o-transform:
        -ms-transform: */

 @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-transform: translateZ(0);
        -o-transform: translateZ(0);
        -ms-transform: translateZ(0);

      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(var(--buttonsize));
        transform: translateZ(var(--buttonsize));
        -moz-transform: translateZ(var(--buttonsize));
        -o-transform: translateZ(var(--buttonsize));
        -ms-transform: translateZ(var(--buttonsize));

      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -o-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -ms-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }

  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-transform:  translateZ(0);
        -o-transform:  translateZ(0);
        -ms-transform:  translateZ(0);

      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
      -webkit-transform: translateZ(var(--buttonsize));
        transform: translateZ(var(--buttonsize));
        -moz-transform: translateZ(var(--buttonsize));
        -o-transform: translateZ(var(--buttonsize));
        -ms-transform: translateZ(var(--buttonsize));

      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -o-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -ms-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }

  }

 /* 
slide/blur in L 
*/
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/* 
slide/blur in R
*/
@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

  .posture-images {
    display: flex; 
    justify-content: center; 
    gap: 50px; 
    margin-top: 100px; 
    z-index: 1;
    position: relative;
}

.posture-images img {
    width: 500px;
    height: auto;
}

.slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

  @-webkit-keyframes slide-up {
    0% {
      -webkit-transform: translateY(100px); /* Start below */
              transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0); /* Move to original position */
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-up {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-up {
    -webkit-animation: slide-up 1s ease-out both;
    animation: slide-up 1s ease-out both;
  }  

 /* live tracker container */
#live-tracker {
  display: flex;
  justify-content: flex-end;  
  align-items: center; 
  height: 100%; 
  width: 100%; 
  padding-right: 6%;
  padding-bottom: 20%;
  margin-top: 40px;
  position: absolute; right: 6%; top: 26%;
  transform: scale(1.2,1.2);
}

/* giraffe animation */
#giraffeAnimation {
  max-width: 100%; 
  height: auto; 
  max-height: 450px; 
}

.page {
background-color: #ececec;
color: #2a2a2a;

min-height: 100vh; /* for full viewport height */
width: 100%;
display: flex; /* Use flexbox for centering */
flex-direction: column;
justify-content: center; 
align-items: center; 
text-align: center; 

margin-top: 80px;
padding: 100px 80px;
}

.about-us-images {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-top: 2%;
  margin-bottom: 0px;
  transition: transform 0.3s ease-in-out;
}


.about-us-images img:hover {
  transform: rotate(10deg);
}

.team-member {
  display: flex;
  flex-direction: column; /* Ensures text is below image */
  align-items: center; /* Centers text horizontally */
  text-align: center; /* Centers text */
}

.team-member img {
  width: 100%; /* Makes images scale with their container */
  max-width: 200px; /* Prevents images from getting too large */
  height: auto; /* Keeps aspect ratio */
  display: block;
}

.team-name {
  margin-top: 10px; /* Adds space between image and name */
  font-weight: bold;
  font-size: 1.2em;
}


.content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* space between cards */
  margin-top: 5%;
  margin-bottom: 10px;
}

.card {
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  display: flex; /* make the card a flex container */
  justify-content: space-between; /* space out the header and body */
  align-items: center;
}

.card-header {
  font-weight: bold;
  flex: 1 1 30%;
  text-align: left;
}

.card-body {
  font-size: 1em;
  line-height: 1.6;
  flex: 1 1 60%;
  text-align: left;
}

.card-body ul {
  padding-left: 20px; /* Adds space between text and bullet points */
  margin-left: 20px; /* Moves the entire list to the right */
}


.content {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  .about-us-images img {
    max-width: 150px; /* Make the images smaller on tablets */
  }
}

@media (max-width: 480px) {
  .about-us-images img {
    max-width: 120px; /* Make the images even smaller on phones */
  }
}