{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="posturepal, PosturePal, Posture">
    <title>{% block title %}PosturePal{% endblock %}</title>
    <meta name="author" content="PosturePal Inc">
    <meta name="description" content="The smart, wearable posture assistant using IMU technology to track and correct posture in real-time">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="PosturePal">
    <link rel="stylesheet" href="{% static 'posturepal/style.css' %}">
    <link rel="icon" type="image/posturepal-logo.png" href="posturepal/assets/posturepal-logo.png">


    <script defer src="{% static 'posturepal/app1.js' %}"></script>
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'index' %}" class="description poppins-bold" style="font-size:1.6vw;">Home</a>
        <a href="{% url 'live_checker' %}" class="description poppins-bold" style="font-size:1.6vw;">Live Tracker</a>
        <a href="{% url 'about_us' %}" class="description poppins-bold" style="font-size:1.6vw;">About Us</a>
        <a href="{% url 'resources' %}" class="description poppins-bold" style="font-size:1.6vw;">Resources</a>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>
