{% extends "posturepal/base.html" %}
{% load static %}

{% block title %}Home - PosturePal{% endblock %}

{% block content %}
<section class="home" style="position: relative; z-index: 1; height: 100vh;">
    <!-- Heading and Description -->
    <h1 class="poppins-bold" style="font-size:4vw; z-index: 2; position: relative;">
        Welcome to <span class="color2">PosturePal.</span>
    </h1>
    <p class="home-description poppins-bold" style="font-size:2vw; z-index: 2; position: relative;">
        The smart, wearable posture assistant using IMU technology to track and correct posture in real-time.
    </p>
    <!-- <a href = "{% url 'live_checker' %}" id="thisLink" class="child poppins-bold shadow-drop-2-center">Access Live Tracker</a> -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/@google/model-viewer@3.0.0/dist/model-viewer.min.js"></script>

    <!-- 3D Model Viewer -->
    <model-viewer
        src="{% static 'posturepal/assets/head.glb' %}"
        alpha-mode="BLEND"
        shadow-intensity="0.5"
        auto-rotate
        camera-controls
        style="position: absolute; top: 0; left: 25%; width: 100vw; height: 100vh; z-index: -1;"
        disable-zoom
    </model-viewer>

</section>
{% endblock %}
