{% load static %}

<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset= "UTF-8">
    <meta name ="keywords" content="posturepal, PosturePal, Posture">
    <title> PosturePal </title>
    <meta name="description" content = "The smart, wearable posture assistant using IMU technology to track and correct posture in real-time">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="PosturePal">
    <link rel="stylesheet" href="{% static 'posturepal/style.css' %}">

    <script defer src = "{% static 'posturepal/app.js' %}"> </script>  

</head>
<body>

</body>

</html>