{% extends "posturepal/base.html" %}

{% block title %}Home - PosturePal{% endblock %}

{% block content %}
<section class="home">
    <h1 class="poppins-bold" style="font-size:4vw;">
        Welcome to <span class="color2">PosturePal.</span>
    </h1>
    <p class="home-description poppins-bold" style="font-size:2vw;">
        The smart, wearable posture assistant using IMU technology to track and correct posture in real-time.
    </p>
    <div class="parent">
        <button class="child shadow-drop-2-center">Access Live Tracker</button>
    </div>
</section>
{% endblock %}