{% extends "posturepal/base.html" %}
{% load static %}

{% block title %}Live Checker - PosturePal{% endblock %}

{% block content %}
<section class="home">
    <h1 class="secondheader poppins-bold" style="font-size:4vw;">
        Live <span class="color2 "> Posture </span> Checker Graph
    </h1>

    <!-- Animated Image Below the Title -->
    <div id="live-tracker">
        <img class = "giraffe" id="giraffeAnimation" src="{% static 'posturepal/assets/bad1.png' %}" alt="Animation">
    </div>

</section>
{% endblock %}
